{% raw %}
<div class="plot-container">
    <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
    
    <!-- Load Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <script>
        var trace1 = {
            x: [1, 2, 3, 4],
            y: [10, 15, 13, 17],
            type: 'scatter'
        };

        var data = [trace1];

        Plotly.newPlot('myDiv', data);
    </script>
</div>

<style>
    .plot-container {
        margin-bottom: 40px;
        min-height: 800px;
    }
</style>
{% endraw %}